.navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;;
    width: 100%;
}

.home-btn {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.links {
    padding: 2rem 0;
}
.navbar .link {
    text-decoration: none;
    color: #4D4D4D;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
}

.navbar .link:last-of-type {
    padding-right: 0;
}

.link:hover,
.link:focus {
    color: black;
    text-decoration: underline;
}