body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
    position: relative;
}

.content-grid {
    display: grid;
    grid-template-columns: 
    [full-width-start] 3rem  [content-start] 2rem [medium-width-start] 1fr [medium-width-end] 2rem [content-end] 3rem [full-width-end];
    
    @media (min-width: 800px) {
        grid-template-columns: 
        [full-width-start] 4rem [medium-width-start] 3rem [content-start] 1fr [medium-width-end] 3rem [content-end] 4rem [full-width-end];
    }

    @media (min-width: 1200px) {
        grid-template-columns: 
        [full-width-start] 6rem  [content-start] 4rem [medium-width-start] 1fr [medium-width-end] 4rem [content-end] 6rem [full-width-end];
    }
}

.content-grid > * {
    grid-column: content;
}

.content-grid > .medium-width {
    grid-column: medium-width;
}

.content-grid > .full-width {
    grid-column: full-width;
}

.container {
    container-type: inline-size;
    padding-left: 2rem;
    padding-right: 2rem;

    @media (min-width: 1200px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    @media (min-width: 800px) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

img {
    display: block;
}
    

       



/* ---Buttons ---*/

.btn {
    color: white;
    border-radius: 6px;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: color .3s ease-in-out;

    @media (max-width:1200px) {
        max-width: 50%;
    }

    @media (max-width:800px) {
        max-width: 100%;
    }
}

.btn--primary {
    background-color: #FF8C38;
}

.btn--primary:hover,
.btn--primary:focus {
    background-color: #E17654;   
}

.btn--black {
    background-color: #161616;
}

.btn--black:hover,
.btn--black:focus {
    background-color: #E17654;  
}

.btn--secondary {
    background-color: #E17654;
}

.btn--secondary:hover,
.btn--secondary:focus {
    background-color: #FFEAD0;
    color: black;
}

.btn--dark-green {
    background-color: #115E59;
}

.btn--dark-green:hover,
.btn--dark-green:focus {
    background-color: #1d9c94;
}

.btn--accent {
    background-color: #FFEAD0;
    color: black;
}

.btn-underline {
    position: relative;
    border: none;
    background-color: inherit;
    font-size: 1rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0 !important;
}

.btn-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    border-radius: 6px;
    height: 0.1em;
    bottom: .7rem;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-underline:hover::after {
    transform: scaleX(0);
    transform-origin: bottom right;
}

